@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root {
    --primary-color: #edd51e;
    --primary-color-hover: #ecb02e;
    --secondary-color: #393939;
    --background-color: #7fb572;
    --background-color-secondary: #14564b;
    --text-color: #222222;
    --soft-text-color: #496e3f;
    --primary-font: 'Noto Serif', serif;
    --secondary-font: 'Young Serif', serif;
}

body {
    background-color: var(--background-color) !important;
    color: var(--text-color);
    font-family: var(--primary-font) !important;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    padding: 2vw;
    background-image: linear-gradient(to bottom, rgba(20, 86, 75, 0.95), rgba(20, 86, 75, 0.9)), url('imgs/headerBG.jpg');
    background-size: cover;
    box-shadow: 5px 4px 0 #094d36;
    border-radius: 0 0 15px 15px;
}

h1 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color) !important;
    font-family: var(--primary-font) !important;
    border: none !important;
    color: var(--background-color-secondary) !important;
    font-weight: bold !important;
    box-shadow: 3px 3px 0 #094d36;
}
.btn-primary:hover {
    background-color: var(--primary-color-hover) !important;
    color: var(--text-color) !important;
    box-shadow: 5px 5px 0 #094d36;
}

.softText {
    font-family: var(--secondary-font);
    font-style: italic;
    color: var(--soft-text-color);
}

.cardImage {
    width: 140px;
    height: 200px;
    margin-right: 0.5vw;
}

.cardSection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vw;
}

#roundOverSection {
    display: none;
    background-color: var(--background-color-secondary);
    color: var(--primary-color);
    width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vw;
}

#loginSection {
    display: none;
    flex-direction: column;
    min-width: 350px;
    background-color: var(--background-color-secondary);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vw;
    color: var(--primary-color);
    border: #222222 solid 2px;
    border-radius: 15px;
    box-shadow: #545454 3px 1px 15px;
}

#loginXBtn {
    margin-bottom: 2vw;
    color: var(--primary-color);
    font-size: 20px;
}

.authForm {
    display: flex;
    flex-direction: column;
}

.authForm input {
    margin-bottom: 1vw;
    padding: 0.5vw;
    border: none;
    border-radius: 5px;
}

#authMessage {
    margin-top: 1vw;
    color: var(--primary-color);
}

footer {
    margin-top: auto;
    padding: 1vw;
    background-color: var(--background-color-secondary);
    color: var(--primary-color);
}