@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root {
    --primary-color: #edd51e;
    --secondary-color: #393939;
    --primary-color-hover: #094d36;
    --background-color: #7fb572;
    --text-color: #222222;
    --primary-font: 'Noto Serif', serif;
    --secondary-font: 'Young Serif', serif;
}

body {
    background-color: var(--background-color) !important;
    color: var(--text-color);
    font-family: var(--primary-font);
    margin: 0;
}

header {
    padding: 2vw;
    background-color: #14564b;
    box-shadow: 5px 4px 0 #094d36;
    border-radius: 0 0 15px 15px;
}

h1 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}